@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<a asp-area="" asp-controller="Client" asp-action="ClientProfile">Get Quote</a>
<a asp-area="" asp-controller="Client" asp-action="ClientProfile">Quote History</a>