@model FuelQuoteApp_p1.Models.Quote.FQuote;
@{
    ViewData["Title"] = "GetFinalQuote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetFinalQuote</h1>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Quotation Form You Requested...
            </h3>
        </div>

        <div class="panel-body">

            <form role="form" asp-action="GetQuote" asp-controller="Quote" method="post">
                <div class="form-group">
                    <label asp-for="GallonsRequested">Gallons Requested</label>
                    <input asp-for="GallonsRequested" class="form-control input-sm" placeholder="Enter number of Gallons" disabled>
                    <span asp-validation-for="GallonsRequested" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryAddress">Delivery Address</label>
                    <input asp-for="DeliveryAddress" class="form-control input-sm" disabled>
                </div>
                <div class="form-group">
                    <label asp-for="DateRequested">Date Requested</label>
                    <input asp-for="DateRequested" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" disabled/>
                    <span asp-validation-for="DateRequested" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PricePerGallon">Our Best price per gallon</label>
                    <input asp-for="PricePerGallon" class="form-control input-sm" disabled>
                </div>
                <div class="form-group">
                    <label asp-for="TotalAmount ">Total Amount</label>
                    <input asp-for="TotalAmount" class="form-control input-sm" disabled>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" formaction="GetFinalQuote" value="Get Quote" class="btn btn-info btn-block">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="button" class="btn btn-info btn-block" value="Change Quote" onclick="location.href='@Url.Action("GetQuote", "Quote")'" />
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>