@model FuelQuoteApp_p1.Models.Quote.FQuote

@{
    ViewData["Title"] = "GetQuote";
}
<style>
#getprice
{
     border-radius: 20px;
    /* color: #DA252A; */
    background-color: #DA252A;
    border-color: #DA252A;
}
#update
{
     border-radius: 20px;
    /* color: #DA252A; */
    background-color: #DA252A;
    border-color: #DA252A;
}
#names
{
    color: #4d709e;
    font-family: futura;
    font-size: 20px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}
#titlequote
{
font-family:futura;
font-weight:bold;
font-size:50px;
color:#DA252A;
}
</style>

<h2 id="titlequote">Get Quote</h2>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Fill in the Quotation Form
            </h3>
             <p>The price and total amount will be calculated and displayed in the next page based on the information you are gonna provide now</p>
        </div>

        <div class="panel-body">

            <form role="form" asp-action="GetQuote" asp-controller="Quote" method="post">
                <div class="form-group">
                    <label asp-for="GallonsRequested">Gallons Requested</label>
                    <input asp-for="GallonsRequested" class="form-control input-sm" placeholder="Enter number of Gallons" required/>
                    <span asp-validation-for="GallonsRequested" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryAddress">Delivery Address</label>
                    <input asp-for="DeliveryAddress" class="form-control input-sm" disabled>
                </div>
                <div class="form-group">
                    <label asp-for="DateRequested">Date Requested</label>
                    <input asp-for="DateRequested" type="date" asp-format="{0:yyyy-MM-dd}" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" required/>
                    <span asp-validation-for="DateRequested" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PricePerGallon">Our Best price per gallon</label>
                    <input asp-for="PricePerGallon" class="form-control input-sm" disabled>
                </div>
                <div class="form-group">
                    <label asp-for="TotalAmount ">Total Amount</label>
                    <input asp-for="TotalAmount" class="form-control input-sm" disabled>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" formaction="GetQuote" value="Get Price" class="btn btn-info btn-block">
                    </div>
                    @*<div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" value="Get Quote" formaction="Get Quote" class="btn btn-info btn-block">
                        </div>*@
                </div>

            </form>
        </div>

    </div>
</div>